body{font-family: 'Grape Nuts', cursive;
  display:grid;
    grid-template-columns:100%;
    grid-template-rows:auto;
    grid-template-areas:"header"
    "nav"
    "main"
    "footer";
    background:
        /* Pineapple details */
        radial-gradient(circle closest-side at 50px 50px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 40px 60px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 60px 60px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 50px 70px, #FB8B24 3px, transparent 0),
        
        radial-gradient(circle closest-side at 150px 165px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 140px 175px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 160px 175px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 150px 185px, #FB8B24 3px, transparent 0),
        
        /* Pineapple base */
        radial-gradient(ellipse closest-side at 50px 60px, #F9A734 18px, transparent 0),
        
        radial-gradient(ellipse closest-side at 150px 175px, #F9A734 18px, transparent 0),
        
        /* Pineapple leafs */
        radial-gradient(circle closest-side at 30px 40px, #F9D8D4 15px, transparent 0),
        radial-gradient(circle closest-side at 40px 35px, #36964C 15px, transparent 0),
        radial-gradient(circle closest-side at 70px 40px, #F9D8D4 15px, transparent 0),
        radial-gradient(circle closest-side at 60px 35px, #286E38 15px, transparent 0),
        
        radial-gradient(circle closest-side at 130px 155px, #F9D8D4 15px, transparent 0),
        radial-gradient(circle closest-side at 140px 150px, #36964C 15px, transparent 0),
        radial-gradient(circle at 170px 155px, #F9D8D4 15px, transparent 0),
        radial-gradient(circle at 160px 150px, #286E38 15px, transparent 0)
        ;
        background-color: #F9D8D4;
        background-size: 180px 210px;
        animation: animatedBackground .5s cubic-bezier(.61,-0.64,.58,1.46) forwards;
}
    
    @keyframes animatedBackground {
        from { background-position: 0 50%; }
        to { background-position: 0 0; }
    }
    header {
        color:#da42b4;
        padding:10px;
        grid-area:header;
        font-size: 30px;
        text-shadow: 3px 3px white;
    }
    nav {
        background-color:#f7b6af;
        grid-area:nav;
        color:#da42b4;
        display: block;
        position: fixed;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100vh;
        transform: translate(100%, 0);
        transition: transform 0.5s ease-in;
        }
        .shownav {
            height: 0.8em;
            width: 1.25em;
            display: block;
             border-top: 0.2em solid #e787cf;
            border-bottom: 0.2em solid #e787cf;
        }
        .shownav:before {
                content: '';
                 position: absolute;
                 width: 1.25em;
                 margin-top: 0.3em;
                 border-top: 0.2em solid #e787cf;
            }
    .blog{
        padding:5px;
        margin:5px;
        border: 8px solid #ffb3ab;
    }
    img {
        margin: 8px 0 0 20px;
        padding: 4px;
        height: 300px;
        width: 300px;
        display:block;
      }
      footer{
        color:white;
        grid-area:footer;
        bottom:0;
        width:100%;
        height:30px;
      }
      main{
        color: #da42b4;
        text-align: left;
        grid-area:main;
    }
      .button {
        display: inline-block;
        border-radius: 10px;
        background-color: #da42b4;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 17px;
        width: 90px;
        transition: all 0.5s;
        cursor: pointer;
      }
      
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -30px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }

#clicked .shownav {display: block;}
#clicked .off {display: none;}
#clicked:target .shownav {display: none;}
#clicked:target .off {display: block;}

#clicked:target nav{display:block;
    transform: translate(0,0);}

