body{
  display:grid;
    grid-template-columns:15% 15% 48% 20%;
    grid-template-rows:auto;
    grid-template-areas:"header header header header"
    "nav nav nav nav"
    "main main main aside"
    "footer footer footer footer";
    font-family: 'Grape Nuts', cursive;
    color:#da42b4;
    background:
    /* Pineapple details */
    radial-gradient(circle closest-side at 50px 50px, #FB8B24 3px, transparent 0),
    radial-gradient(circle closest-side at 40px 60px, #FB8B24 3px, transparent 0),
    radial-gradient(circle closest-side at 60px 60px, #FB8B24 3px, transparent 0),
    radial-gradient(circle closest-side at 50px 70px, #FB8B24 3px, transparent 0),
    
    radial-gradient(circle closest-side at 150px 165px, #FB8B24 3px, transparent 0),
    radial-gradient(circle closest-side at 140px 175px, #FB8B24 3px, transparent 0),
    radial-gradient(circle closest-side at 160px 175px, #FB8B24 3px, transparent 0),
    radial-gradient(circle closest-side at 150px 185px, #FB8B24 3px, transparent 0),
    
    /* Pineapple base */
    radial-gradient(ellipse closest-side at 50px 60px, #F9A734 18px, transparent 0),
    
    radial-gradient(ellipse closest-side at 150px 175px, #F9A734 18px, transparent 0),
    
    /* Pineapple leafs */
    radial-gradient(circle closest-side at 30px 40px, #F9D8D4 15px, transparent 0),
    radial-gradient(circle closest-side at 40px 35px, #36964C 15px, transparent 0),
    radial-gradient(circle closest-side at 70px 40px, #F9D8D4 15px, transparent 0),
    radial-gradient(circle closest-side at 60px 35px, #286E38 15px, transparent 0),
    
    radial-gradient(circle closest-side at 130px 155px, #F9D8D4 15px, transparent 0),
    radial-gradient(circle closest-side at 140px 150px, #36964C 15px, transparent 0),
    radial-gradient(circle at 170px 155px, #F9D8D4 15px, transparent 0),
    radial-gradient(circle at 160px 150px, #286E38 15px, transparent 0)
    ;
    background-color: #F9D8D4;
    background-size: 180px 210px;
    animation: animatedBackground .5s cubic-bezier(.61,-0.64,.58,1.46) forwards;
}

@keyframes animatedBackground {
    from { background-position: 0 50%; }
    to { background-position: 0 0; }
}
header{
    color:#da42b4;
    padding:10px;
    grid-area:header;
    font-size: 30px;
    text-shadow: 3px 3px white;
}
main{
  grid-area: main;
}
aside{
  grid-area: aside;
  border: 5px solid #ca75b5;
  font-size: 20px;
  text-align: center;
}
footer{
  grid-area: footer;
}
nav {
    background-color:#f7b6af;
    grid-area:nav;
    color:#da42b4;
    display: block;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
    transform: translate(100%, 0);
    transition: transform 0.5s ease-in;
    }
    .shownav {
        height: 0.8em;
        width: 1.25em;
        display: block;
         border-top: 0.2em solid #e787cf;
        border-bottom: 0.2em solid #e787cf;
    }
    .shownav:before {
            content: '';
             position: absolute;
             width: 1.25em;
             margin-top: 0.3em;
             border-top: 0.2em solid #e787cf;
        }
 .blog{
  padding:5px;
  margin:5px;
  border: 8px solid #ffb3ab;
  font-size: 30px;
text-shadow: 3px 3px white;}
form {
display: grid;
width: 60%; 
grid-template-columns: 50% 50%; 
align-items:center;
grid-gap: 1em;
font-size: 15px;
}
input {
    border: 3px solid #ca75b5;
    color: #da42b4;
    background-color: #f687da;
    }

input[type="submit"] {
    grid-column: 1/3;
    font-weight: bold;
    }

input::placeholder {
    color: #da42b4;
}
select{
border: 3px solid #ca75b5; 
color: #da42b4;
background-color: #f687da;
}
    .fa {
        padding: 20px;
        font-size: 300px;
        width: 60px;
        text-align: center;
        text-decoration: none;
      }
      .fa:hover {
        opacity: 0.7;
      }
      .fa-instagram {
        background: #ea4c89;
        color: white;
      }
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      footer{
        color:white;
        grid-area:footer;
        animation:fadeInBottomLeft;
        animation-duration: 5s;
        margin-left:auto;
        bottom:0;
        width:100%;
        height:30px;
        position:fixed;
    }
    header a {display: none;}#clicked .shownav {display: block;}
    #clicked .off {display: none;}
    #clicked:target .shownav {display: none;}
    #clicked:target .off {display: block;}
    
    #clicked:target nav{display:block;
        transform: translate(0,0);}