body 
{display:grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows:auto;
    grid-template-areas:"header header header header"
    "main main main main"
    "footer footer footer footer";
    background:
        /* Pineapple details */
        radial-gradient(circle closest-side at 50px 50px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 40px 60px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 60px 60px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 50px 70px, #FB8B24 3px, transparent 0),
        
        radial-gradient(circle closest-side at 150px 165px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 140px 175px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 160px 175px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 150px 185px, #FB8B24 3px, transparent 0),
        
        /* Pineapple base */
        radial-gradient(ellipse closest-side at 50px 60px, #F9A734 18px, transparent 0),
        
        radial-gradient(ellipse closest-side at 150px 175px, #F9A734 18px, transparent 0),
        
        /* Pineapple leafs */
        radial-gradient(circle closest-side at 30px 40px, #F9D8D4 15px, transparent 0),
        radial-gradient(circle closest-side at 40px 35px, #36964C 15px, transparent 0),
        radial-gradient(circle closest-side at 70px 40px, #F9D8D4 15px, transparent 0),
        radial-gradient(circle closest-side at 60px 35px, #286E38 15px, transparent 0),
        
        radial-gradient(circle closest-side at 130px 155px, #F9D8D4 15px, transparent 0),
        radial-gradient(circle closest-side at 140px 150px, #36964C 15px, transparent 0),
        radial-gradient(circle at 170px 155px, #F9D8D4 15px, transparent 0),
        radial-gradient(circle at 160px 150px, #286E38 15px, transparent 0)
        ;
        background-color: #F9D8D4;
        background-size: 180px 210px;
        animation: animatedBackground .5s cubic-bezier(.61,-0.64,.58,1.46) forwards;
}
    
    @keyframes animatedBackground {
        from { background-position: 0 50%; }
        to { background-position: 0 0; }
    }
    header {
        animation: bounceInDown;
        animation-duration: 2s;
        color:#da42b4;
        padding:20px;
        grid-area:header;
    }
    main{
        animation: fadeInLeft;
        animation-duration: 3s;
        color: #da42b4;
text-align: left;
grid-area:main;
    }
    img {
        animation: fadeInLeft;
        animation-duration: 4s;
        background: #f687da;
        border: 1px solid #ca75b5;
        margin: 8px 0 0 20px;
        padding: 4px;
        height: 300px;
        width: 300px;
        display:block;
      }
      footer{
        color:white;
        grid-area:footer;
    }