body 
{display:grid;
    grid-template-columns:16% 16% 48% 16%;
    grid-template-rows:auto;
    grid-template-areas:"header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
    background:
        /* Pineapple details */
        radial-gradient(circle closest-side at 50px 50px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 40px 60px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 60px 60px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 50px 70px, #FB8B24 3px, transparent 0),
        
        radial-gradient(circle closest-side at 150px 165px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 140px 175px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 160px 175px, #FB8B24 3px, transparent 0),
        radial-gradient(circle closest-side at 150px 185px, #FB8B24 3px, transparent 0),
        
        /* Pineapple base */
        radial-gradient(ellipse closest-side at 50px 60px, #F9A734 18px, transparent 0),
        
        radial-gradient(ellipse closest-side at 150px 175px, #F9A734 18px, transparent 0),
        
        /* Pineapple leafs */
        radial-gradient(circle closest-side at 30px 40px, #F9D8D4 15px, transparent 0),
        radial-gradient(circle closest-side at 40px 35px, #36964C 15px, transparent 0),
        radial-gradient(circle closest-side at 70px 40px, #F9D8D4 15px, transparent 0),
        radial-gradient(circle closest-side at 60px 35px, #286E38 15px, transparent 0),
        
        radial-gradient(circle closest-side at 130px 155px, #F9D8D4 15px, transparent 0),
        radial-gradient(circle closest-side at 140px 150px, #36964C 15px, transparent 0),
        radial-gradient(circle at 170px 155px, #F9D8D4 15px, transparent 0),
        radial-gradient(circle at 160px 150px, #286E38 15px, transparent 0)
        ;
        background-color: #F9D8D4;
        background-size: 180px 210px;
        animation: animatedBackground .5s cubic-bezier(.61,-0.64,.58,1.46) forwards;

        font-family: 'Grape Nuts', cursive;
}
    
    @keyframes animatedBackground {
        from { background-position: 0 50%; }
        to { background-position: 0 0; }
    }

    header {
        animation: bounceInDown;
        animation-duration: 2s;
        color:#da42b4;
        padding:10px;
        grid-area:header;
        font-size: 30px;
        text-shadow: 3px 3px white;
    }
nav {
        grid-area:nav;
        color:#da42b4;
        animation: fadeInLeft;
        animation-duration: 3s;
    }
    nav ul {
        border: 8px solid #ffb3ab;
        background-color: #ffb3ab;
        list-style-type: none;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        text-align: center;
        color:#da42b4;
        font-size: 20px;
  text-shadow: 1px 1px white;
    }
    nav > ul > li {
        position:relative;
    }
    nav ul ul {
        position: absolute;
        display: block;
        padding: 0;
        width: 100%;
        opacity:0;
        transition: opacity 0.5s ease-in;
        pointer-events: none;
       }
    nav > ul > li:hover ul {
     opacity:1;
     display:block;
     pointer-events: auto;
    }
main{
color: black;
animation: fadeInLeft;
animation-duration: 4s;
width: 100%;
text-align: center;
border: 8px solid #ffb3ab;
background-color: #ffb3ab;
font-size: 30px;
  grid-area: main;
}

footer{
    color:white;
    grid-area:footer;
    animation:fadeInBottomLeft;
    animation-duration: 5s;
    bottom:0;
    width:100%;
    height:30px;
    position:fixed;
}
header a {display: none;}